.sidebar .navbar-brand {
    padding: 0;
}

#sidebar-menu .nav-link.active {
    background-color: var(--primary-color) !important;
    color: white !important;
}


.nav-link.active i {
    color: #FFFFFF;
}

.sidebar li.nav-item {
    padding: 8px;
}

.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.2s;
}

.category-item:hover {
    background-color: #f8f9fa;
}

.category-item.active {
    background-color: var(--primary-color)!important;
    color: white!important;
}

.category-badge {
    background-color: #e9ecef;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
}

.category-item.active .category-badge {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}