.user-site .navbar {
    background-color: #e5e5e5;
    padding: 1rem 2rem; 
}
.user-site .navbar-brand {
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 2px;
}
.user-site .navbar-collapse {
    justify-content: center;
    justify-content: space-between;
}
.user-site .nav-link {
    color: #000;
    font-weight: 600;
    margin: 0 1rem;
}
.user-site .nav-link.active{
    display: none;
}
.user-site .text-dark i {
    font-size: 30px;
}
.user-site .user-icon {
    background-color: #ffa500;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-site .btn-custom {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    width: 100%;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}

@media (max-width:452px){
    .user-site .nav-link.active{
        display: block;
    }
    .user-site .navbar .text-dark, .user-site .navbar .user-icon {
        display: none;
    }
}